#root {
    width: 200px;
    height: 200px;
    border: 1px solid;
    cursor: pointer;
    background-color: #000000;;
    text-align: center;

    /*webkit chrome and safari*/
    /*moz firefox*/
    /*ms microsoft*/
    /*o opera*/

    -webkit-transition-property: background-color, width, height;
    -moz-transition-property: background-color, width, height;
    -ms-transition-property: background-color, width, height;
    -o-transition-property: background-color, width, height;
    transition-property: background-color, width, height;

    -webkit-transition-duration: 3s, 3s, 3s;
    -moz-transition-duration: 3s, 3s, 3s;
    -ms-transition-duration: 3s, 3s, 3s;
    -o-transition-duration: 3s, 3s, 3s;
    transition-duration: 3s, 3s, 3s;

    -webkit-transition-delay: 1s, 1s, 1s;
    -moz-transition-delay: 1s, 1s, 1s;
    -ms-transition-delay: 1s, 1s, 1s;
    -o-transition-delay: 1s, 1s, 1s;
    transition-delay: 1s, 1s, 1s;

    -webkit-transition-timing-function: ease, ease, ease;
    -moz-transition-timing-function: ease, ease, ease;
    -ms-transition-timing-function: ease, ease, ease;
    -o-transition-timing-function: ease, ease, ease;
    transition-timing-function: ease, ease, ease;
}

#root:hover {
    background: #FFFFFF;
}

#root.large {
    width: 400px;
    height: 400px;
}
