.common-btn {
    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;
    min-width: 200px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 4px;
}

.link {
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 1;

    background: none;
    outline: none;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px 20px;
    font-size: 24px;

    cursor: pointer;
}
.link:hover {
    background: #eee;
}