<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="index.js" type="text/javascript" charset="utf-8" async defer></script>
        <title>垂直水平居中</title>
    </head>
    <body>
        <div id="app">
            <section class="li-bai">
                <img class="cross" src="../assets/img/cross.png">
            </section> 

            <section class="bao-zhao">
                <img class="cupid-chastised" src="../assets/img/cupid-chastised.png">
            </section>

            <section class="wang-wei">
                <img class="mountain-brook" src="../assets/img/mountain-brook.png">
            </section>
        </div>
    </body>
</html>
